input{background-color:#e0e0f1;width:200%;height:30px;font-size:20px;border:4px outset #56ac00;border-radius:10px;font-family:Times New Roman;}
span{font-size:25px;font-family:Gabriola;font-weight:bolder;color:#ff0000;}
body{background-color:#59ffac;}